<h1>Todo</h1>
<!-- <script>
console.log("this is ${todo}")
</script> -->
<div class = 'container'>
  <fieldset class="form-group">
    <label>Description</label>
    <input type="text" #description="ngModel" [(ngModel)]="todo5.description" class="form-control" name="description" required="required">
  </fieldset>

  <fieldset class="form-group">
    <label>Target Date</label>
    <input type="date" #targetDate="ngModel"
    [ngModel]="todo5.targetDate | date: `yyyy-MM-dd`"
    <!-- [(ngModel)]="todo5.targetDate" -->
    (ngModelChange) ="todo5.targetDate = $event"
    class="form-control" name="targetDate" required="required">
  </fieldset>

  <button class="btn btn-success" (click)="saveTodo()">Save</button>


</div>


<p>todo.component html works!</p>
